doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Agora
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/") Home
                    if loggedIn
                        li
                            a(href=`/user/${loggedInUser._id}`) #{ loggedInUser.nickname }
                        li
                            a(href="/user/edit") 프로필 편집
                        li
                            a(href=`/videos/upload`) 비디오업로드
                        li
                            a(href=`/images/upload`) 이미지업로드
                        li
                            a(href=`/boards/upload`) 게시물 업로드
                        li 
                            a(href=`/user/${loggedInUser._id}/friends`) 친구목록
                        li
                            a(href="/logout") 로그아웃
                    else
                        li
                            a(href="/login") 로그인
                        li
                            a(href="/user-register") 회원가입
                    li
                        a(href="/search") 검색
        main
            block content
