extends base
include mixins/user

block content 
    form(method="GET")
        input(placeholder="유저 검색", type="text", name="searchUser")
        input(type="submit", value="Search")
    
    div
        each user in users 
            +showUserList(user)