extends ../base
include ../mixins/guestbooks

block content
    h1 방명록 리스트
    if guestbooks.length === 0
        h1 아무도 방명록을 남기지 않았어용 ㅠ.ㅠ
    else
    each guestbook in guestbooks
        +showGusetbooksList(guestbook)