extends ../base
include ../mixins/video
include ../mixins/image
include ../mixins/board

block content
  if ((String(loggedInUser._id) !== String(pageOwner.id)) ) && !friendExist
    a(href="/api/sendFriendRequest") 친구요청 보내기
  else if friendExist
    h4 이미 친구입니다
  if String(loggedInUser._id) !== String(pageOwner.id)
    div 
      a(href=`${pageOwner.id}/guestbook`) 방명록 남기기
  else
    div
      a(href=`${pageOwner.id}/checkGuestbook`) 방명록 보러가기'

  h1 게시물 리스트
  each board in pageOwner.boards
    +showBoardList(board)
  else 
    h1 텅~

  h1 비디오 리스트
  each video in pageOwner.videos
    +showVideoList(video)
  else 
    h1 텅~
    
  h1 이미지 리스트
  each image in pageOwner.images
    +showImageList(image)
  else
    h1 텅~
