extends ../base
include ../mixins/video
include ../mixins/image

block content
  if String(loggedInUser._id) !== String(user.id)
    div 
      a(href=`${user.id}/guestbook`) 방명록 남기기
  else
    div
      a(href=`${user.id}/checkGuestbook`) 방명록 보러가기
  h1 비디오 리스트
  each video in videos
    +showVideoList(video)
    
  h1 이미지 리스트
  each image in images
    +showImageList(image)
  else
    h1 텅~
